= simple_form_for [:admin, room] do |f|
  .form-inputs
    .row
      .medium-12.columns
        = f.input :name,
          label: t('room.attributes.name')

      .medium-12.columns
        = f.input :description,
          input_html: { rows: 5 },
          label: t('room.attributes.description')

  .form-actions
    .row
      .medium-12.columns
        = f.button :button, t('shared.save'), class: 'button action save'
