// This file overrides styles in vendor/assets/components/colorpicker/jquery.colorpicker.css

// those styles get overridden by the foundation reset, so they need to be re-applied with higher specificity
.ui-colorpicker {
  table tr:nth-of-type(2n) {
    background-color: transparent;
  }

  input {
    margin: 0;
    height: auto;
    padding: 0.2em;

    + label {
      margin-right: 0;
    }
  }

  &.ui-widget {
    input,
    select,
    textarea,
    button,
    label {
      display: inline-block;
      font-size: 12px;
      line-height: 12px;
    }
  }

  &.ui-widget {
    button {
      @include button(0.25rem, $button-bg-color);

      margin: 0 0 $spacing-small $spacing-small;
      background-image: none;
    }
  }

  .ui-colorpicker-number {
    margin: 0.1em;
    width: 4em;
  }

  .ui-colorpicker-hex {
    input {
      width: auto;
    }
  }
}

.ui-dialog .ui-dialog-buttonpane {
  @include clearfix;

  padding: 0 $spacing-small;
}

.ui-widget-content {
  border: 0;
  border-radius: 0;
  background: $ghost;
}

.ui-colorpicker-map,
.ui-colorpicker-map > * {
  width: 150px;
  height: 150px;
}

.ui-colorpicker-map-layer-1,
.ui-colorpicker-map-layer-2 {
  background-size: 100%;
}

.ui-colorpicker-bar, .ui-colorpicker-bar > * {
  height: 150px;
}
.ui-colorpicker-bar-layer-1 {
  background-size: auto (100% * 3895/256);
}

.ui-colorpicker-preview {
  width: 100%;
}

.ui-colorpicker-preview-initial,
.ui-colorpicker-preview-current {
  width: 50%;
}