#content {
   margin-top: $spacing-medium;
 }

.rows-bottom-margin {
  .row {
    margin: 0 auto $spacing-small;

    @media #{$large-up} {
      margin: 0 auto $spacing-medium;
    }
  }
}

span.no-wrap {
  display: inline;
  white-space: nowrap;
}

.top-bar a {
  @include single-transition(background-color);
}

a.text-anchor {
  border-bottom: 2px solid $primary-color;
  padding: 0 1px 1px;
}
