#content {
   margin-top: $spacing-medium;
 }

.rows-bottom-margin {
  .row {
    margin: 0 auto $spacing-small;

    @media #{$large-up} {
      margin: 0 auto $spacing-medium;
    }
  }
}

span.no-wrap {
  display: inline;
  white-space: nowrap;
}