= simple_form_for reservation, url: user_reservations_path(reservation.user), remote: true do |f|
  = f.hidden_field :schedule_item_id, value: schedule_item.id
  = f.button :submit, t('reservation.create')