ReservationsController#index
- reservations.each do |reservation|
  %li
    = "#{l(reservation.schedule_item.start, format: :simple_time)} #{reservation.schedule_item.activity}"
    = link_to t('reservation.delete'), user_reservation_path(current_user, reservation), method: :delete, remote: true, class: 'button'