= link_to t('schedule_item.prev_week'),
  schedule_items_path(filter_params.merge({ week_offset: week_offset - 1 })),
  remote: true,
  class: 'button tiny secondary time-navigation prev-week'

= link_to t('schedule_item.this_week'),
  schedule_items_path(filter_params.merge({ week_offset: 0 })),
  remote: true,
  class: 'button tiny secondary time-navigation this-week'

= link_to t('schedule_item.next_week'),
  schedule_items_path(filter_params.merge({ week_offset: week_offset + 1 })),
  remote: true,
  class: 'button tiny secondary time-navigation next-week'
