- unless items.nil?
  - items_styles = schedule_items_styles(items)
  - items.each do |item|
    .item{ id: item.decorate.css_id, style: items_styles.for(item) }
      - if item.stale?
        = render 'schedule_table_item_stale', item: item

      - else
        = render 'schedule_table_item_active', item: item