.schedule-header
  .location
    = filter_header

  .filter
    = render 'schedule_filter_dropdowns'
    = render 'schedule_filter_time_navigation'

#schedule
  = render 'schedule_items/schedule_table', schedule_items: schedule_items
