.schedule-header
  - if user_signed_in? && current_user.admin?
    .buttons
      = link_to t('shared.create'), new_admin_schedule_item_path, class: 'button create'

  .filter
    = render 'schedule_filter_dropdowns'
    = render 'schedule_filter_time_navigation'

#schedule
  = render 'schedule_items/schedule_table', schedule_items: schedule_items
