%h2= room.name
#schedule
  = render 'schedule_table'

= link_to 'Prev week', prev_week_room_schedule_items_path(week_offset: week_offset - 1), remote: true
= link_to 'Next week', next_week_room_schedule_items_path(week_offset: week_offset + 1), remote: true