ul.actions {
  @include clearfix;

  display: inline-block;
  margin: 0;
  vertical-align: middle;
  list-style: none;

  @media #{$large-up} {
    white-space: nowrap;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $spacing-medium;

      @media #{$large-up} {
        margin-right: $spacing-tiny;
      }
    }

    a {
      display: inline-block;
    }
  }
}

.action {
  @include hide-text;

  display: inline-block;

  &:before {
    @include fa-icon;

    font-size: $paragraph-font-size;
    color: $body-font-color
  }
}

.check-schedule {
  &:before {
    content: $fa-var-calendar;
  }
}

.create {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;

  &:before {
    content: $fa-var-plus;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.edit {
  &:before {
    content: $fa-var-pencil;
  }
}

.delete {
  &:before {
    content: $fa-var-trash;
  }
}

.save {
  &:before {
    content: $fa-var-save;
  }
}

.checkin {
  &:before {
    content: $fa-var-calendar-check-o;
  }
}

.attended {
  &:before {
    content: $fa-var-check;
    color: $success-color
  }
}

.missed {
  &:before {
    content: $fa-var-times;
    color: $alert-color;
  }
}

.unknown {
  &:before {
    content: $fa-var-question;
  }
}

.button {
  &.action {
    &:before {
      font-size: 20px;
      color: $button-font-color;
    }
  }
}

:not(.button) {
  &.action {
    &:before {
      padding: $spacing-small;
      font-size: 1.5rem;

      @media #{$large-up} {
        padding: $spacing-tiny;
        font-size: 1rem;
      }
    }
  }
}