ul.actions {
  margin: 0;
  list-style: none;

  li {
    float: left;
  }
}

.check-schedule,
.create,
.edit,
.delete,
.save {
  @include hide-text;

  &:before {
    @include fa-icon;

    font-size: $paragraph-font-size;
    color: $body-font-color
  }
}

.check-schedule {
  &:before {
    content: $fa-var-calendar;
  }
}

.create {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;

  &:before {
    content: $fa-var-plus;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.edit {
  &:before {
    content: $fa-var-pencil;
  }
}

.delete {
  &:before {
    content: $fa-var-trash;
  }
}

.save {
  &:before {
    content: $fa-var-save;
  }
}


.button {
  &.check-schedule,
  &.create,
  &.edit,
  &.delete,
  &.save {
    &:before {
      font-size: 20px;
      color: $button-font-color;
    }
  }
}

:not(.button) {
  &.check-schedule,
  &.create,
  &.edit,
  &.delete,
  &.save {
    &:before {
      padding: 0 $spacing-tiny;
    }
  }
}