.button {
  @include button;

  width: 100%;
  text-align: center;

  @media #{$medium-up} {
    width: auto;
    text-align: inherit;
  }

  &.tiny {
    @include button-size($padding:$button-tny);
  }

  &.dropdown {
    @include dropdown-button;

      &.tiny {
        @include dropdown-button(tiny, $base-style: false);
      }

      &.small {
        @include dropdown-button(small, $base-style: false);
      }

      &.large {
        @include dropdown-button(large, $base-style: false);
      }

    &.secondary:after {
      border-color: $dropdown-button-pip-color-alt transparent transparent transparent;
    }
  }

  &.secondary { @include button-style($bg:$secondary-button-bg-color, $bg-hover:$secondary-button-bg-hover, $border-color:$secondary-button-border-color); }
}

.button-delete {
  @include button-style($bg:$alert-button-bg-color, $bg-hover:$alert-button-bg-hover, $border-color:$alert-button-border-color);
}