.fitness-class-name {
  @media #{$medium-up} {
    white-space: nowrap;
  }
}

.fitness-class-color {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  margin-right: $spacing-tiny;
  border-radius: 50%;
}

.fitness-class-box {
  margin: ($column-gutter / 2) 0;
}

.fitness-class-box-content {
  padding: $spacing-medium;

  h3 {
    border-bottom: 5px solid;
  }
}