form {
  max-width: 640px;
  margin: $padding-small auto;

  .form-inputs {
    margin-bottom: 10px;
    min-width: 300px;
  }

  .form-actions {
    text-align: center;
  }

  .error {
    small.error {
      margin-bottom: 0;
      text-align: right;
      color: $alert-color;
      background: transparent;
    }

    label,
    label.error {
      color: inherit;
    }
  }

  .form-errors {
    margin-bottom: $padding-small;
    color: $alert-color;
  }
}