form {
  max-width: 640px;
  margin: $spacing-small auto;

  .form-inputs {
    margin-bottom: 10px;
    min-width: 300px;
  }

  .form-actions {
    text-align: center;
  }

  .error {
    small.error {
      margin-bottom: 0;
      text-align: right;
      color: $alert-color;
      background: transparent;
    }

    label,
    label.error {
      color: inherit;
    }
  }

  .form-errors {
    margin-bottom: $spacing-small;
    text-align: center;
    color: $alert-color;
  }

  .user_remember_me {
    margin-bottom: $spacing-small;
    text-align: center;
  }
}

.devise-links {
  text-align: center;
  font-size: $paragraph-font-size-small;
}

.devise-form-stand-alone {
  text-align: center;
}