$overlay-close-size: 23px;

.no-scroll {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.overlay-background {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $overlay-background;
}

.overlay-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  background-color: $white;

  @media #{$large-up} {
    position: absolute;
    top: 50%;
    right: unset;
    bottom: unset;
    left: 50%;
    max-width: 500px;
    transform: translateY(-50%) translateX(-50%);
    text-align: unset;
  }
}

.overlay-header {
  position: relative;
  margin: 0;
  padding: $spacing-small;
  min-height: 42px;
  text-align: center;
  color: $topbar-link-color;
  background-color: $topbar-bg-color;

  @media #{$large-up} {
    min-height: 32px;
    padding: $spacing-tiny;
  }

  h6 {
    margin: 0;
    padding: 0 (1.5 * $overlay-close-size);
    color: inherit;
  }

  .overlay-close {
    @include hide-text;

    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1.5 * $overlay-close-size;
    padding: 0;
    line-height: $overlay-close-size;
    border: 0;
    background-color: transparent;
    border-radius: 0;

    &:before {
      @include fa-icon;

      content: '\00d7';
      position: absolute;
      top: 2px;
      right: 0;
      left: 0;
      text-align: center;
      font-size: 2rem;
      color: $topbar-link-color;

      @media #{$large-up} {
        font-size: $overlay-close-size;
      }
    }
  }
}

.overlay-content {
  padding: $spacing-medium;
}
