.schedule-item {
  text-align: center;

  .title,
  .details {
    display: block;
  }

  .title {
    font-size: $h5-font-size;
    font-weight: bold;
  }

  .button {
    margin-top: $button-margin-bottom;
    margin-bottom: 0.5 * $button-margin-bottom;
  }
}

