$hours-width: 50px;
$day-header-height: 100px;
$schedule-height: 860px;

.schedule {
  .week {
    @include clearfix;

    width: 100%;
    padding-left: $hours-width;

    h2 {
      margin: 0;
    }

    .hours {
      position: absolute;
      left: 0;
      width: 100%;
      padding-top: $day-header-height;

      > * {
        float: left;
        width: 100%;
      }

      .hour {
        position: absolute;
        width: 100%;
        padding-left: 10px;
        background-color: $schedule-hour-dark;

        &:nth-child(2n) {
          background-color: $schedule-hour-light;
        }
      }
    }

    .day {
      position: relative;
      float: left;
      width: calc(1/7 * (100% - #{$hours-width}));
      padding: 0 10px;
      text-align: center;

      > * {
        float: left;
        width: 100%;
      }

      .item {
        position: absolute;
        right: 0;
        left: 0;

        .item-box {
          display: block;
          overflow: hidden;
          width: calc(100% - 5px);
          height: 100%;
          margin: 0 5px;
          font-size: $paragraph-aside-font-size;
          background-color: yellow;

          &.stale {
            background-color: rosybrown;
          }

          &.reserved {
            background-color: limegreen;
          }
        }
      }
    }

    .day-header {
      height: $day-header-height;
    }

    .day-schedule {
      @include clearfix;

      position: relative;
      height: $schedule-height;
    }
  }
}