.schedule {
  .week {
    width: 100%;

    h2 {
      margin: 0;
    }

    .day {
      position: relative;
      float: left;
      width: 10%;
      height: 400px;


      .item {
        position: absolute;
        background-color: beige;
      }
    }
  }
}