.row
  .medium-12.columns
    %h3
      = user
      = "(#{ user.email })"
.row
  .medium-12.columns
    = render 'reservations/accordion',
      not_queued_reservations: user.reservations.active.select { |r| !r.queued? },
      queued_reservations: user.reservations.active.select { |r| r.queued? },
      attended_reservations: user.reservations.attended,
      missed_reservations: user.reservations.missed,
      reservations_controller: 'admin/reservations'