.trainers
  - trainers.each do |trainer|
    .row
      .medium-6.columns
        = image_tag trainer.photo.url, class: 'trainer-photo'
      .medium-6.columns
        %h3
          = trainer
        %p
          = trainer.description